*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(imagem1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000CE;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    color: #ffffff;
    font-size: clamp(30px, 10vw, 120px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.apresentacao{
    color: #ffffff;
    font-size: clamp(20px, 5vw, 60px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
}

hr{
    width: 80%;
}

#informacoes{
    width: 200px;
    height: 40px;
    background-color: #FAE12C;
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}